@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Work+Sans:wght@400;500&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

.full{
    padding-left: 240px;
    padding-right: 240px;

}

/* header */

.background-header{
    background-color: rgba(255, 144, 14, 0.1);
    height: 1330px;
}

.logo{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.links a{
    color: #424242;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.title-container{
    width: 860px;
    text-align: center;
    margin-left: 290px;
    margin-right: 290px;
    margin-top: 100px;
}

.title{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 0;
}

.title-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    /* margin-bottom: 30px; */
    line-height: 26px;
}

.p-button{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FF900E;
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.header-image{
    background-image: url("../images/banner.png");
    /* background-size: cover; */
    height: 700px;
    margin-bottom: 45px;
}

/* features */

.features-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding-top: 70px;
}

.features-container2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 120px;
    padding-top: 70px;
}


.feat-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px ;
}

.feat-title{
    font-weight: 700;
    font-size: 45px;
    margin-right: 300px;
    color: #131313;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.ft1{
    font-weight: 500;
    color: #727272;
}

.ft2{
    color: #FF900E;
}

.feat-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-right: 60px;
    /* margin-top: 24px; */
    line-height: 26px;
}

/* feature 2 */

.p3-button{
    width: 3px;
    height: 106px;
    background: #FF900E;
    border: none;
}

.feat2-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.feat2-title-title{
    font-weight: 700;
    font-size: 45px;
    padding-right: 185px;
    padding-left: 20px;
}

.feat2-body-element{
    box-shadow: 5px 5px 15px lightgrey;
    padding: 10px 30px;
    margin-top: 20px ;
    border-radius: 10px;
}

.feat2-element-title{
    font-weight: 600;
font-size: 20px;
color: #131313;
}

.feat2-element-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.feat2-body{
    padding-bottom: 25px;
}

.p2-button{
    position: absolute;
width: 300px;
height: 200px;
left: 930px;
top: 3015px;
color: #FFFFFF;
background-color: #FF900E;
border-radius: 8px;
border: none;
display: flex;
justify-content: center;
align-items: center;
}

.btn-txt{
    padding: 45px;
    text-align: center;
}

.btn-txt h3{
    font-weight: 700;
font-size: 65px;
margin-bottom: 0px;
margin-top: 22px;
}

.btn-txt p{
    font-weight: 500;
    font-size: 25px;
    margin-top: 0px;
}

/* facts */

.facts p{
    font-weight: 400;
font-size: 16px;
color: #727272;
margin-top: 0px;
width: 545px;
line-height: 26px;

}

.facts h1{
    font-weight: 700;
font-size: 45px;
color: #131313;
margin-bottom: 24px;
margin-top: 130px;
}

.stat-container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

}

.stat-element{
    border: 2px solid #FF900E;
    border-radius: 10px;
    height: 242px;
    width: 242px;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

.stat-element:hover{
    border: 2px solid #FF900E;
    border-radius: 10px;
    height: 262px;
    width: 262px;
    transform: rotate(25deg);
}

.stat-box{
    padding: 45px 35px;
    text-align: center;
}

.stat-box h3{
    font-weight: 600;
font-size: 45px;
margin-top: 10px;
margin-bottom: 5px;
}

.stat-box p{
    font-weight: 600;
    font-size: 20px;
    margin-top: 0px;
}

/* sponsors */
.sponsors-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sponsors-text h1{
    font-weight: 700;
font-size: 45px;
color: #131313;
margin-bottom: 24px;
margin-top: 130px;
}

.sponsors-text p{
    font-weight: 400;
font-size: 16px;
color: #727272;
margin-top: 0px;
width: 545px;
line-height: 26px;
}

.sponsors-logo {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

/* team  */

.team-title{
    font-weight: 700;
font-size: 45px;
color: #131313;
margin-bottom: 24px;
margin-top: 130px;
text-align: center;
}

.team{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.team-element{
    border: 2px solid #FF900E;
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px lightgrey;
}

/* .team-element img{
    height: 300px;
    border-radius: 5%;
    padding-top: 10px;
} */
.img1 {
    height: 300px;
    border-radius: 5%;
    padding-top: 10px;
}

.img2 {
    height: 300px;
    border-radius: 5%;
    padding-top: 10px;
}

.img3 {
    height: 300px;
    border-radius: 5%;
    padding-top: 10px;
}

.team-element:hover{
    background-color: rgb(248, 242, 233);
    width: 450px;
    border: 2px solid #0f0c0a;
    box-shadow: none;
}

/* .img1:hover {
    background-color: antiquewhite;

}

.img2:hover {
    height: 400px;
}

.img3:hover {
    height: 400px;
} */

.team-element h3{
    font-weight: 600;
font-size: 35px;
margin-top: 10px;
margin-bottom: 5px;
}

.team-element p{
    font-weight: 300;
font-size: 18px;
color: #424242;
margin-top: 0px;
}

/* footer  */

.footer {
    font-weight: 400;
font-size: 20px;
color: #424242;
background-color: #fff4e7;
margin-top: 130px;
height: 100px;
display: flex;
align-items: center;
justify-content: center;
}
